# Assignment 3
Name : Ghanashyam Patil  
Roll No : 31162  
Subject : DSBDAL

Problem Statement :  
Perform the following operations using Python
1. Scan all variables for missing values and inconsistencies. 
If there are missing values and/or inconsistencies, use the following techniques to deal with them.
        a)Delete rows or column 
        b)replace missing values with mean 
        c)replace missing values with mode 
        d)replace missing values with median
2. Apply data transformations on at least one of the variables. 
The purpose of this transformation should be one of the following reasons: 
        to change the scale for better understanding of the variable, 
        to convert a non-linear relation into a linear one, or 
        to decrease the skewness and convert the distribution into a normal distribution.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Databases/nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [4]:
df.shape

(458, 9)

In [5]:
# CHECKING FOR NULL VALUES
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

# Techniques to deal with NULL values and inconsistant dataset

In [6]:
# filling all NULL fields with the same value
df1=pd.read_csv('../Databases/nba.csv')
df1=df1.fillna(0)
df1.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [7]:
# checking rows and column
df2=pd.read_csv('../Databases/nba.csv')
df2.shape

(458, 9)

In [8]:
# 1.Delete rows with missing values
df2=df2.dropna()
df2.shape

(364, 9)

In [9]:
# checking rows and column
df3=pd.read_csv('../Databases/nba.csv')
df3.shape

(458, 9)

In [10]:
# 2.Delete columns with missing values
df3=df3.dropna(axis=1)
df3.shape

(458, 0)

In [11]:
df4=pd.read_csv('../Databases/nba.csv')
numeric_cols = df4.select_dtypes(include='number')
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [12]:
# 2. REPLACING MISSING VALUES WITH MEAN
# Fill missing values in column 'A' with the mean of 'A'
for column in numeric_cols:
         df4[column]=df4[column].fillna(df4[column].mean())
         print(df4[column].mean())
            
df4.isnull().sum()

17.678336980306344
26.938730853391686
221.52297592997812
4842684.105381166

Name         1
Team         1
Number       0
Position     1
Age          0
Height       1
Weight       0
College     85
Salary       0
dtype: int64

In [13]:
# 3. REPLACING MISSING VALUES WITH MODE
df5=pd.read_csv('../Databases/nba.csv')
numeric_cols = df5.select_dtypes(include='number')
df5.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [14]:
for column in df5.columns:
    df5[column]=df5[column].fillna(df5[column].mode().iloc[0])
df5.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [15]:
# 4. REPLACING MISSING VALUES WITH median
df6=pd.read_csv('../Databases/nba.csv')
numeric_cols = df6.select_dtypes(include='number')
df6.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [16]:
for column in numeric_cols:
         df6[column]=df6[column].fillna(df6[column].median())
            
df6.isnull().sum()

Name         1
Team         1
Number       0
Position     1
Age          0
Height       1
Weight       0
College     85
Salary       0
dtype: int64

# Apply data transformations on at least one of the variables.