In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("nba.csv")

In [3]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
df.shape

(458, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [6]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [7]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [8]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [9]:
df2 = df.select_dtypes('float64')

In [10]:
df.mean(numeric_only = True)

Number    1.767834e+01
Age       2.693873e+01
Weight    2.215230e+02
Salary    4.842684e+06
dtype: float64

In [11]:
df.median(numeric_only = True)

Number         13.0
Age            26.0
Weight        220.0
Salary    2839073.0
dtype: float64

In [12]:
df.mode(numeric_only = True)

   Number   Age  Weight    Salary
0     5.0  24.0   220.0  947276.0

In [13]:
df.max(numeric_only = True)

Number          99.0
Age             40.0
Weight         307.0
Salary    25000000.0
dtype: float64

In [14]:
df.min(numeric_only = True)

Number        0.0
Age          19.0
Weight      161.0
Salary    30888.0
dtype: float64

In [15]:
df.std(numeric_only = True)

Number    1.596609e+01
Age       4.404016e+00
Weight    2.636834e+01
Salary    5.229238e+06
dtype: float64

In [16]:
df.var(numeric_only = True)

Number    2.549160e+02
Age       1.939536e+01
Weight    6.952895e+02
Salary    2.734493e+13
dtype: float64

In [17]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [18]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [19]:
df.head(500)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
gb =df.groupby('Team')
gb.describe()

                       Number                                                 \
                        count       mean        std  min    25%   50%    75%
Team
Atlanta Hawks            15.0  19.000000  11.476684  0.0  11.50  17.0  25.50
Boston Celtics           15.0  31.866667  30.300558  0.0   9.50  28.0  42.50
Brooklyn Nets            15.0  18.266667  14.104035  0.0   8.00  15.0  27.00
Charlotte Hornets        15.0  17.133333  16.672761  0.0   4.00  12.0  27.50
Chicago Bulls            15.0  19.200000  17.193022  0.0   5.50  16.0  28.00
Cleveland Cavaliers      15.0  14.466667  13.809245  0.0   4.50  12.0  21.50
Dallas Mavericks         15.0  20.000000  16.252472  1.0   6.00  21.0  30.50
Denver Nuggets           15.0  15.266667  19.655849  0.0   4.00   9.0  18.00
Detroit Pistons          15.0  17.266667  15.303906  0.0   5.50  13.0  23.50
Golden State Warriors    15.0  20.866667  11.413442  4.0  11.50  20.0  30.50
Houston Rockets          15.0  14.666667  12.505237  0.0   5.50  12.0  25.50
Indiana Pacers           15.0  18.933333  15.988686  0.0   4.00  13.0  30.50
Los Angeles Clippers     15.0  19.533333  13.125040  3.0   8.50  19.0  31.00
Los Angeles Lakers       15.0  16.066667  15.285225  0.0   3.50   9.0  26.00
Memphis Grizzlies        18.0  15.555556  14.030313  0.0   5.50  10.5  21.25
Miami Heat               15.0  10.466667  10.377632  0.0   3.50   8.0  13.00
Milwaukee Bucks          16.0  20.000000  17.485232  3.0  10.50  17.5  21.25
Minnesota Timberwolves   14.0  19.571429  21.964007  1.0   8.25  13.0  21.75
New Orleans Pelicans     19.0  17.000000  14.011900  0.0   4.50  15.0  27.50
New York Knicks          16.0  13.250000  12.964053  1.0   4.75   8.5  17.25
Oklahoma City Thunder    15.0  14.000000  12.130246  0.0   4.50  11.0  21.50
Orlando Magic            14.0  16.428571  16.411601  0.0   5.50  10.5  20.75
Philadelphia 76ers       15.0  18.066667  14.660280  0.0   6.00  12.0  32.00
Phoenix Suns             15.0  15.466667  10.405127  1.0   7.00  15.0  22.00
Portland Trail Blazers   15.0  16.000000  13.711309  0.0   4.50  11.0  23.50
Sacramento Kings         15.0  16.933333  12.002777  0.0   7.50  15.0  25.50
San Antonio Spurs        15.0  17.933333  11.067757  1.0  10.50  17.0  23.50
Toronto Raptors          15.0  22.466667  25.856380  1.0   5.50  10.0  27.50
Utah Jazz                15.0  17.866667  11.432202  2.0   9.00  20.0  24.50
Washington Wizards       15.0  17.600000  22.610996  1.0   5.50  12.0  19.00

                               Age             ...  Weight        Salary  \
                         max count       mean  ...     75%    max  count
Team                                           ...
Atlanta Hawks           43.0  15.0  28.200000  ...  242.50  260.0   15.0
Boston Celtics          99.0  15.0  24.733333  ...  236.50  260.0   14.0
Brooklyn Nets           44.0  15.0  25.600000  ...  220.50  275.0   15.0
Charlotte Hornets       50.0  15.0  26.133333  ...  240.00  289.0   15.0
Chicago Bulls           55.0  15.0  27.400000  ...  231.00  275.0   15.0
Cleveland Cavaliers     52.0  15.0  29.533333  ...  250.50  275.0   14.0
Dallas Mavericks        50.0  15.0  29.733333  ...  245.00  275.0   15.0
Denver Nuggets          77.0  15.0  25.733333  ...  226.50  280.0   14.0
Detroit Pistons         50.0  15.0  26.200000  ...  242.50  279.0   15.0
Golden State Warriors   40.0  15.0  27.666667  ...  247.50  273.0   15.0
Houston Rockets         35.0  15.0  26.866667  ...  237.50  265.0   15.0
Indiana Pacers          44.0  15.0  26.400000  ...  246.50  255.0   15.0
Los Angeles Clippers    45.0  15.0  29.466667  ...  242.50  265.0   15.0
Los Angeles Lakers      50.0  15.0  27.533333  ...  250.00  270.0   15.0
Memphis Grizzlies       50.0  18.0  28.388889  ...  236.75  270.0   14.0
Miami Heat              40.0  15.0  28.933333  ...  237.50  265.0   13.0
Milwaukee Bucks         77.0  16.0  24.562500  ...  246.75  265.0   16.0
Minnesota Timberwolves  88.0  14.0  26.357143  ...  240.75  307.0   13.0
New Orleans Pelicans    44.0  19.0  26.894737  ...  235.00  270.0   19.0
New York Knicks         43.0  16.0  27.000000  ...  240.00  278.0   16.0
Oklahoma City Thunder   35.0  15.0  27.066667  ...  247.50  255.0   15.0
Orlando Magic           55.0  14.0  25.071429  ...  238.75  260.0   14.0
Philadelphia 76ers      42.0  15.0  24.600000  ...  246.50  275.0   14.0
Phoenix Suns            35.0  15.0  25.866667  ...  241.00  260.0   15.0
Portland Trail Blazers  44.0  15.0  25.066667  ...  240.00  265.0   15.0
Sacramento Kings        41.0  15.0  26.800000  ...  239.00  270.0   15.0
San Antonio Spurs       40.0  15.0  31.600000  ...  245.00  290.0   15.0
Toronto Raptors         92.0  15.0  26.133333  ...  242.50  255.0   15.0
Utah Jazz               41.0  15.0  24.466667  ...  232.50  265.0   15.0
Washington Wizards      90.0  15.0  27.866667  ...  241.00  250.0   15.0

                                                                           \
                                mean           std        min         25%
Team
Atlanta Hawks           4.860197e+06  5.194508e+06   525093.0  1152260.00
Boston Celtics          4.181505e+06  3.146033e+06  1148640.0  1909560.00
Brooklyn Nets           3.501898e+06  5.317817e+06   134215.0   947276.00
Charlotte Hornets       5.222728e+06  4.538601e+06   189455.0  1543138.00
Chicago Bulls           5.785559e+06  6.251088e+06   525093.0  1203290.50
Cleveland Cavaliers     7.642049e+06  7.730329e+06   111196.0  1179457.00
Dallas Mavericks        4.746582e+06  5.030279e+06   525093.0  1185783.00
Denver Nuggets          4.294424e+06  4.320214e+06   258489.0  1615789.75
Detroit Pistons         4.477884e+06  4.668478e+06   111444.0  1711452.50
Golden State Warriors   5.924600e+06  5.664282e+06   289755.0  1201462.00
Houston Rockets         5.018868e+06  6.414749e+06   200600.0   973638.00
Indiana Pacers          4.450122e+06  4.584514e+06   211744.0  1053513.00
Los Angeles Clippers    6.323643e+06  7.600225e+06   111444.0  1024164.00
Los Angeles Lakers      4.784695e+06  6.835688e+06   525093.0   896167.50
Memphis Grizzlies       5.467920e+06  5.201676e+06   700902.0  1274280.00
Miami Heat              6.347359e+06  7.848628e+06   261894.0   947276.00
Milwaukee Bucks         4.350220e+06  4.875071e+06   295327.0  1483589.00
Minnesota Timberwolves  4.593054e+06  4.139625e+06   947276.0  1474440.00
New Orleans Pelicans    4.355304e+06  4.537874e+06    55722.0   981348.50
New York Knicks         4.581494e+06  5.952487e+06    30888.0   921721.75
Oklahoma City Thunder   6.251020e+06  6.632400e+06   222888.0  1742280.00
Orlando Magic           4.297248e+06  3.068412e+06   845059.0  2311302.00
Philadelphia 76ers      2.213778e+06  1.900402e+06   525093.0   947276.00
Phoenix Suns            4.229676e+06  5.022561e+06    55722.0   964312.00
Portland Trail Blazers  3.220121e+06  2.392741e+06   525093.0  1181398.00
Sacramento Kings        4.778911e+06  4.701792e+06   525093.0   998384.50
San Antonio Spurs       5.629516e+06  6.396804e+06   200600.0  1045078.00
Toronto Raptors         4.741174e+06  4.195943e+06   245177.0  1683000.00
Utah Jazz               4.204006e+06  4.467878e+06   900000.0  1262160.00
Washington Wizards      5.088576e+06  4.869388e+06   200600.0  1510421.00


                              50%          75%         max
Team
Atlanta Hawks           2854940.0   6873239.50  18671659.0
Boston Celtics          3021242.5   6347087.75  12000000.0
Brooklyn Nets           1335480.0   2512675.00  19689000.0
Charlotte Hornets       4204200.0   6665702.00  13500000.0
Chicago Bulls           2380440.0   7974380.00  20093064.0
Cleveland Cavaliers     4975000.0  12942843.75  22970500.0
Dallas Mavericks        3950313.0   5289487.00  16407500.0
Denver Nuggets          2907000.0   4142083.25  14000000.0
Detroit Pistons         2891760.0   5635000.00  16000000.0
Golden State Warriors   3815000.0  11540621.00  15501000.0
Houston Rockets         2288205.0   7339758.00  22359364.0
Indiana Pacers          4000000.0   5697112.50  17120106.0
Los Angeles Clippers    3110796.0   8367500.00  21468695.0
Los Angeles Lakers      1724250.0   5161144.50  25000000.0
Memphis Grizzlies       4544009.5   8116000.00  19688000.0
Miami Heat              2481720.0  10151612.00  22192730.0
Milwaukee Bucks         2254167.0   5514330.00  16407500.0
Minnesota Timberwolves  2148360.0   5758680.00  12700000.0
New Orleans Pelicans    2850000.0   7785365.00  15514031.0
New York Knicks         2225421.0   4949493.00  22875000.0
Oklahoma City Thunder   3344000.0   8694215.00  20158622.0
Orlando Magic           3956580.0   5144390.00  11250000.0
Philadelphia 76ers      1037084.5   3310710.00   6500000.0
Phoenix Suns            2041080.0   5500000.00  13500000.0
Portland Trail Blazers  2854940.0   4626143.50   8042895.0
Sacramento Kings        3156600.0   6880303.00  15851950.0
San Antonio Spurs       2814000.0   8750000.00  19689000.0
Toronto Raptors         2900000.0   6634337.50  13600000.0
Utah Jazz               2433333.0   4276360.00  15409570.0
Washington Wizards      4000000.0   6847337.00  15851950.0

[30 rows x 32 columns]

In [26]:
gb.first()

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44.0,SG,27.0,6-8,216.0,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5.0,SG,27.0,6-8,200.0,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0.0,PF,28.0,6-9,235.0,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19.0,SG,33.0,6-3,194.0,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5.0,PF,27.0,6-9,255.0,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0
Miami Heat,Chris Bosh,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34.0,SF,21.0,6-11,222.0,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88.0,PF,28.0,6-10,240.0,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42.0,C,28.0,7-2,248.0,California,4389607.0
New York Knicks,Arron Afflalo,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12.0,C,22.0,7-0,255.0,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3.0,C,26.0,7-0,245.0,USC,947276.0
Philadelphia 76ers,Elton Brand,42.0,PF,37.0,6-9,254.0,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
Sacramento Kings,Quincy Acy,13.0,SF,25.0,6-7,240.0,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8.0,C,23.0,6-9,245.0,Missouri,2814000.0
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Washington Wizards,Alan Anderson,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0

In [27]:
gb.get_group('Utah Jazz')
gb.describe()

                       Number                                                 \
                        count       mean        std  min    25%   50%    75%
Team
Atlanta Hawks            15.0  19.000000  11.476684  0.0  11.50  17.0  25.50
Boston Celtics           15.0  31.866667  30.300558  0.0   9.50  28.0  42.50
Brooklyn Nets            15.0  18.266667  14.104035  0.0   8.00  15.0  27.00
Charlotte Hornets        15.0  17.133333  16.672761  0.0   4.00  12.0  27.50
Chicago Bulls            15.0  19.200000  17.193022  0.0   5.50  16.0  28.00
Cleveland Cavaliers      15.0  14.466667  13.809245  0.0   4.50  12.0  21.50
Dallas Mavericks         15.0  20.000000  16.252472  1.0   6.00  21.0  30.50
Denver Nuggets           15.0  15.266667  19.655849  0.0   4.00   9.0  18.00
Detroit Pistons          15.0  17.266667  15.303906  0.0   5.50  13.0  23.50
Golden State Warriors    15.0  20.866667  11.413442  4.0  11.50  20.0  30.50
Houston Rockets          15.0  14.666667  12.505237  0.0   5.50  12.0  25.50
Indiana Pacers           15.0  18.933333  15.988686  0.0   4.00  13.0  30.50
Los Angeles Clippers     15.0  19.533333  13.125040  3.0   8.50  19.0  31.00
Los Angeles Lakers       15.0  16.066667  15.285225  0.0   3.50   9.0  26.00
Memphis Grizzlies        18.0  15.555556  14.030313  0.0   5.50  10.5  21.25
Miami Heat               15.0  10.466667  10.377632  0.0   3.50   8.0  13.00
Milwaukee Bucks          16.0  20.000000  17.485232  3.0  10.50  17.5  21.25
Minnesota Timberwolves   14.0  19.571429  21.964007  1.0   8.25  13.0  21.75
New Orleans Pelicans     19.0  17.000000  14.011900  0.0   4.50  15.0  27.50
New York Knicks          16.0  13.250000  12.964053  1.0   4.75   8.5  17.25
Oklahoma City Thunder    15.0  14.000000  12.130246  0.0   4.50  11.0  21.50
Orlando Magic            14.0  16.428571  16.411601  0.0   5.50  10.5  20.75
Philadelphia 76ers       15.0  18.066667  14.660280  0.0   6.00  12.0  32.00
Phoenix Suns             15.0  15.466667  10.405127  1.0   7.00  15.0  22.00
Portland Trail Blazers   15.0  16.000000  13.711309  0.0   4.50  11.0  23.50
Sacramento Kings         15.0  16.933333  12.002777  0.0   7.50  15.0  25.50
San Antonio Spurs        15.0  17.933333  11.067757  1.0  10.50  17.0  23.50
Toronto Raptors          15.0  22.466667  25.856380  1.0   5.50  10.0  27.50
Utah Jazz                15.0  17.866667  11.432202  2.0   9.00  20.0  24.50
Washington Wizards       15.0  17.600000  22.610996  1.0   5.50  12.0  19.00

                               Age             ...  Weight        Salary  \
                         max count       mean  ...     75%    max  count
Team                                           ...
Atlanta Hawks           43.0  15.0  28.200000  ...  242.50  260.0   15.0
Boston Celtics          99.0  15.0  24.733333  ...  236.50  260.0   14.0
Brooklyn Nets           44.0  15.0  25.600000  ...  220.50  275.0   15.0
Charlotte Hornets       50.0  15.0  26.133333  ...  240.00  289.0   15.0
Chicago Bulls           55.0  15.0  27.400000  ...  231.00  275.0   15.0
Cleveland Cavaliers     52.0  15.0  29.533333  ...  250.50  275.0   14.0
Dallas Mavericks        50.0  15.0  29.733333  ...  245.00  275.0   15.0
Denver Nuggets          77.0  15.0  25.733333  ...  226.50  280.0   14.0
Detroit Pistons         50.0  15.0  26.200000  ...  242.50  279.0   15.0
Golden State Warriors   40.0  15.0  27.666667  ...  247.50  273.0   15.0
Houston Rockets         35.0  15.0  26.866667  ...  237.50  265.0   15.0
Indiana Pacers          44.0  15.0  26.400000  ...  246.50  255.0   15.0
Los Angeles Clippers    45.0  15.0  29.466667  ...  242.50  265.0   15.0
Los Angeles Lakers      50.0  15.0  27.533333  ...  250.00  270.0   15.0
Memphis Grizzlies       50.0  18.0  28.388889  ...  236.75  270.0   14.0
Miami Heat              40.0  15.0  28.933333  ...  237.50  265.0   13.0
Milwaukee Bucks         77.0  16.0  24.562500  ...  246.75  265.0   16.0
Minnesota Timberwolves  88.0  14.0  26.357143  ...  240.75  307.0   13.0
New Orleans Pelicans    44.0  19.0  26.894737  ...  235.00  270.0   19.0
New York Knicks         43.0  16.0  27.000000  ...  240.00  278.0   16.0
Oklahoma City Thunder   35.0  15.0  27.066667  ...  247.50  255.0   15.0
Orlando Magic           55.0  14.0  25.071429  ...  238.75  260.0   14.0
Philadelphia 76ers      42.0  15.0  24.600000  ...  246.50  275.0   14.0
Phoenix Suns            35.0  15.0  25.866667  ...  241.00  260.0   15.0
Portland Trail Blazers  44.0  15.0  25.066667  ...  240.00  265.0   15.0
Sacramento Kings        41.0  15.0  26.800000  ...  239.00  270.0   15.0
San Antonio Spurs       40.0  15.0  31.600000  ...  245.00  290.0   15.0
Toronto Raptors         92.0  15.0  26.133333  ...  242.50  255.0   15.0
Utah Jazz               41.0  15.0  24.466667  ...  232.50  265.0   15.0
Washington Wizards      90.0  15.0  27.866667  ...  241.00  250.0   15.0

                                                                           \
                                mean           std        min         25%
Team
Atlanta Hawks           4.860197e+06  5.194508e+06   525093.0  1152260.00
Boston Celtics          4.181505e+06  3.146033e+06  1148640.0  1909560.00
Brooklyn Nets           3.501898e+06  5.317817e+06   134215.0   947276.00
Charlotte Hornets       5.222728e+06  4.538601e+06   189455.0  1543138.00
Chicago Bulls           5.785559e+06  6.251088e+06   525093.0  1203290.50
Cleveland Cavaliers     7.642049e+06  7.730329e+06   111196.0  1179457.00
Dallas Mavericks        4.746582e+06  5.030279e+06   525093.0  1185783.00
Denver Nuggets          4.294424e+06  4.320214e+06   258489.0  1615789.75
Detroit Pistons         4.477884e+06  4.668478e+06   111444.0  1711452.50
Golden State Warriors   5.924600e+06  5.664282e+06   289755.0  1201462.00
Houston Rockets         5.018868e+06  6.414749e+06   200600.0   973638.00
Indiana Pacers          4.450122e+06  4.584514e+06   211744.0  1053513.00
Los Angeles Clippers    6.323643e+06  7.600225e+06   111444.0  1024164.00
Los Angeles Lakers      4.784695e+06  6.835688e+06   525093.0   896167.50
Memphis Grizzlies       5.467920e+06  5.201676e+06   700902.0  1274280.00
Miami Heat              6.347359e+06  7.848628e+06   261894.0   947276.00
Milwaukee Bucks         4.350220e+06  4.875071e+06   295327.0  1483589.00
Minnesota Timberwolves  4.593054e+06  4.139625e+06   947276.0  1474440.00
New Orleans Pelicans    4.355304e+06  4.537874e+06    55722.0   981348.50
New York Knicks         4.581494e+06  5.952487e+06    30888.0   921721.75
Oklahoma City Thunder   6.251020e+06  6.632400e+06   222888.0  1742280.00
Orlando Magic           4.297248e+06  3.068412e+06   845059.0  2311302.00
Philadelphia 76ers      2.213778e+06  1.900402e+06   525093.0   947276.00
Phoenix Suns            4.229676e+06  5.022561e+06    55722.0   964312.00
Portland Trail Blazers  3.220121e+06  2.392741e+06   525093.0  1181398.00
Sacramento Kings        4.778911e+06  4.701792e+06   525093.0   998384.50
San Antonio Spurs       5.629516e+06  6.396804e+06   200600.0  1045078.00
Toronto Raptors         4.741174e+06  4.195943e+06   245177.0  1683000.00
Utah Jazz               4.204006e+06  4.467878e+06   900000.0  1262160.00
Washington Wizards      5.088576e+06  4.869388e+06   200600.0  1510421.00


                              50%          75%         max
Team
Atlanta Hawks           2854940.0   6873239.50  18671659.0
Boston Celtics          3021242.5   6347087.75  12000000.0
Brooklyn Nets           1335480.0   2512675.00  19689000.0
Charlotte Hornets       4204200.0   6665702.00  13500000.0
Chicago Bulls           2380440.0   7974380.00  20093064.0
Cleveland Cavaliers     4975000.0  12942843.75  22970500.0
Dallas Mavericks        3950313.0   5289487.00  16407500.0
Denver Nuggets          2907000.0   4142083.25  14000000.0
Detroit Pistons         2891760.0   5635000.00  16000000.0
Golden State Warriors   3815000.0  11540621.00  15501000.0
Houston Rockets         2288205.0   7339758.00  22359364.0
Indiana Pacers          4000000.0   5697112.50  17120106.0
Los Angeles Clippers    3110796.0   8367500.00  21468695.0
Los Angeles Lakers      1724250.0   5161144.50  25000000.0
Memphis Grizzlies       4544009.5   8116000.00  19688000.0
Miami Heat              2481720.0  10151612.00  22192730.0
Milwaukee Bucks         2254167.0   5514330.00  16407500.0
Minnesota Timberwolves  2148360.0   5758680.00  12700000.0
New Orleans Pelicans    2850000.0   7785365.00  15514031.0
New York Knicks         2225421.0   4949493.00  22875000.0
Oklahoma City Thunder   3344000.0   8694215.00  20158622.0
Orlando Magic           3956580.0   5144390.00  11250000.0
Philadelphia 76ers      1037084.5   3310710.00   6500000.0
Phoenix Suns            2041080.0   5500000.00  13500000.0
Portland Trail Blazers  2854940.0   4626143.50   8042895.0
Sacramento Kings        3156600.0   6880303.00  15851950.0
San Antonio Spurs       2814000.0   8750000.00  19689000.0
Toronto Raptors         2900000.0   6634337.50  13600000.0
Utah Jazz               2433333.0   4276360.00  15409570.0
Washington Wizards      4000000.0   6847337.00  15851950.0

[30 rows x 32 columns]

In [28]:
ngb = df.groupby(['Name', 'Team'])
ngb.describe()

                                       Number                              \
                                        count  mean std   min   25%   50%
Name            Team
Aaron Brooks    Chicago Bulls             1.0   0.0 NaN   0.0   0.0   0.0
Aaron Gordon    Orlando Magic             1.0   0.0 NaN   0.0   0.0   0.0
Aaron Harrison  Charlotte Hornets         1.0   9.0 NaN   9.0   9.0   9.0
Adreian Payne   Minnesota Timberwolves    1.0  33.0 NaN  33.0  33.0  33.0
Al Horford      Atlanta Hawks             1.0  15.0 NaN  15.0  15.0  15.0
...                                       ...   ...  ..   ...   ...   ...
Wilson Chandler Denver Nuggets            1.0  21.0 NaN  21.0  21.0  21.0
Xavier Munford  Memphis Grizzlies         1.0  14.0 NaN  14.0  14.0  14.0
Zach LaVine     Minnesota Timberwolves    1.0   8.0 NaN   8.0   8.0   8.0
Zach Randolph   Memphis Grizzlies         1.0  50.0 NaN  50.0  50.0  50.0
Zaza Pachulia   Dallas Mavericks          1.0  27.0 NaN  27.0  27.0  27.0

                                                     Age        ... Weight  \
                                         75%   max count  mean  ...    75%
Name            Team                                            ...
Aaron Brooks    Chicago Bulls            0.0   0.0   1.0  31.0  ...  161.0
Aaron Gordon    Orlando Magic            0.0   0.0   1.0  20.0  ...  220.0
Aaron Harrison  Charlotte Hornets        9.0   9.0   1.0  21.0  ...  210.0
Adreian Payne   Minnesota Timberwolves  33.0  33.0   1.0  25.0  ...  237.0
Al Horford      Atlanta Hawks           15.0  15.0   1.0  30.0  ...  245.0
...                                      ...   ...   ...   ...  ...    ...
Wilson Chandler Denver Nuggets          21.0  21.0   1.0  29.0  ...  225.0
Xavier Munford  Memphis Grizzlies       14.0  14.0   1.0  24.0  ...  180.0
Zach LaVine     Minnesota Timberwolves   8.0   8.0   1.0  21.0  ...  189.0
Zach Randolph   Memphis Grizzlies       50.0  50.0   1.0  34.0  ...  260.0
Zaza Pachulia   Dallas Mavericks        27.0  27.0   1.0  32.0  ...  275.0

                                              Salary                  \
                                          max  count        mean std
Name            Team
Aaron Brooks    Chicago Bulls           161.0    1.0   2250000.0 NaN
Aaron Gordon    Orlando Magic           220.0    1.0   4171680.0 NaN
Aaron Harrison  Charlotte Hornets       210.0    1.0    525093.0 NaN
Adreian Payne   Minnesota Timberwolves  237.0    1.0   1938840.0 NaN
Al Horford      Atlanta Hawks           245.0    1.0  12000000.0 NaN
...                                       ...    ...         ...  ..
Wilson Chandler Denver Nuggets          225.0    1.0  10449438.0 NaN
Xavier Munford  Memphis Grizzlies       180.0    0.0         NaN NaN
Zach LaVine     Minnesota Timberwolves  189.0    1.0   2148360.0 NaN
Zach Randolph   Memphis Grizzlies       260.0    1.0   9638555.0 NaN
Zaza Pachulia   Dallas Mavericks        275.0    1.0   5200000.0 NaN

                                                                            \
                                               min         25%         50%
Name            Team
Aaron Brooks    Chicago Bulls            2250000.0   2250000.0   2250000.0
Aaron Gordon    Orlando Magic            4171680.0   4171680.0   4171680.0
Aaron Harrison  Charlotte Hornets         525093.0    525093.0    525093.0
Adreian Payne   Minnesota Timberwolves   1938840.0   1938840.0   1938840.0
Al Horford      Atlanta Hawks           12000000.0  12000000.0  12000000.0
...                                            ...         ...         ...
Wilson Chandler Denver Nuggets          10449438.0  10449438.0  10449438.0
Xavier Munford  Memphis Grizzlies              NaN         NaN         NaN
Zach LaVine     Minnesota Timberwolves   2148360.0   2148360.0   2148360.0
Zach Randolph   Memphis Grizzlies        9638555.0   9638555.0   9638555.0
Zaza Pachulia   Dallas Mavericks         5200000.0   5200000.0   5200000.0


                                               75%         max
Name            Team
Aaron Brooks    Chicago Bulls            2250000.0   2250000.0
Aaron Gordon    Orlando Magic            4171680.0   4171680.0
Aaron Harrison  Charlotte Hornets         525093.0    525093.0
Adreian Payne   Minnesota Timberwolves   1938840.0   1938840.0
Al Horford      Atlanta Hawks           12000000.0  12000000.0
...                                            ...         ...
Wilson Chandler Denver Nuggets          10449438.0  10449438.0
Xavier Munford  Memphis Grizzlies              NaN         NaN
Zach LaVine     Minnesota Timberwolves   2148360.0   2148360.0
Zach Randolph   Memphis Grizzlies        9638555.0   9638555.0
Zaza Pachulia   Dallas Mavericks         5200000.0   5200000.0

[457 rows x 32 columns]

In [29]:
ngb.first()

,,Number,Position,Age,Height,Weight,College,Salary
Name,Team,,,,,,,
Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...
Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0
Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,None,5200000.0