# Assignment 5

Name : Ghanashyam Patil  
Roll No : 31162  
Subject : DSBDAL

Problem Statement :  
Perform the following operations on any open-source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. 
For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. 
Create a list that contains a numeric value for each response to the categorical variable.

In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('../Databases/nba.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [9]:
# Calculate summary statistics for 'income' grouped by 'age_group'
summary_stats = df.groupby('Age')['Salary'].describe()
summary_stats

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
19.0,2.0,1.930440e+06,2.791658e+05,1733040.0,1831740.00,1930440.0,2029140.00,2127840.0
20.0,19.0,2.725791e+06,1.510913e+06,525093.0,1636920.00,2481720.0,3954720.00,5703600.0
21.0,19.0,2.067380e+06,1.412350e+06,525093.0,1235480.00,1584480.0,2084940.00,5758680.0
22.0,26.0,2.357963e+06,1.517378e+06,525093.0,1169190.00,1793880.0,3366732.75,6331404.0
23.0,39.0,2.034746e+06,2.728292e+06,30888.0,637546.50,1175880.0,2736120.00,16000000.0
24.0,45.0,3.785300e+06,4.803384e+06,525093.0,900000.00,1509360.0,3873398.00,16407501.0
25.0,44.0,3.930867e+06,4.558463e+06,55722.0,947276.00,1305660.0,5856823.00,15851950.0
26.0,36.0,6.866566e+06,6.100471e+06,134215.0,1336790.50,3325000.0,12562500.00,17120106.0
27.0,40.0,6.676741e+06,6.831984e+06,55722.0,1030105.25,3425510.0,11708292.75,20158622.0
28.0,30.0,5.110189e+06,4.316627e+06,206192.0,1740131.50,4194803.5,6230008.50,19689000.0
29.0,27.0,6.224177e+06,4.870706e+06,111444.0,1910000.00,5543725.0,9431741.50,16407500.0
30.0,30.0,7.061859e+06,5.408670e+06,947276.0,2977205.00,5867803.0,9250000.00,22359364.0
31.0,22.0,8.511397e+06,7.170163e+06,947276.0,3000000.00,5439487.0,13475000.00,22970500.0
32.0,13.0,7.716958e+06,7.451336e+06,295327.0,3135000.00,5200000.0,11217391.00,22875000.0
33.0,14.0,3.930739e+06,4.354293e+06,200600.0,1119326.00,2300000.0,4040084.50,13000000.0
34.0,10.0,7.606030e+06,5.653035e+06,261894.0,4512750.00,6280675.5,9103916.25,20000000.0
35.0,8.0,3.461740e+06,2.364690e+06,947276.0,1361209.25,3302470.0,4811619.75,7448760.0
36.0,10.0,2.238120e+06,1.550061e+06,947276.0,947276.00,1809826.0,2888735.00,5675000.0
37.0,3.0,1.277778e+07,1.071517e+07,5000000.0,6666667.00,8333334.0,16666667.00,25000000.0
38.0,4.0,1.840041e+06,1.496661e+06,222888.0,766179.00,1880638.0,2954500.00,3376000.0
39.0,2.0,2.517872e+06,2.220522e+06,947726.0,1732799.25,2517872.5,3302945.75,4088019.0
40.0,3.0,4.666917e+06,4.155421e+06,250750.0,2750375.00,5250000.0,6875000.00,8500000.0